# Ignore virtual environment
venv/
*.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
.env.*

# Ignore IDE and editor files
.idea/
.vscode/
*.swp
*.swo
